[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
dask = "*"
imblearn = "*"
dask-ml = "*"
catboost = "*"
xgboost = "*"
lightgbm = "*"
hyperopt = "*"
pyarrow = "*"
fastparquet = "*"
tqdm = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
